# ğŸ’¡ Project1 : ì›í‹°ë“œ êµ­ë¯¼ì—°ê¸ˆ ë°ì´í„°ë¥¼ í™œìš©í•˜ì—¬ ìœ ë‹ˆì½˜ ê¸°ì—… ì„ ì •í•˜ê¸°

## âš¡ SUMMARY

> **ë¶„ì„ ëª©í‘œ** : ì›í‹°ë“œ êµ­ë¯¼ì—°ê¸ˆ ë°ì´í„°ë¥¼ í™œìš©í•˜ì—¬ ìœ ë‹ˆì½˜ ê¸°ì—… ì„ ì •í•˜ê¸° 

> **ë¶„ì„ ìë£Œ** : ê¸°ì—…ì˜ êµ­ë¯¼ì—°ê¸ˆ ë‚©ë¶€ ë‚´ì—­ ë°ì´í„°(2015-2019)

> **ë¶„ì„ ê·¼ê±°** :   
    1) ë§¤ì¶œì•¡ì˜ ê¸‰ê²©í•œ ì¦ê°€  
    2) ì§ì› ìˆ˜ì˜ ì¦ê°€   
    
> **ë¶„ì„ ê²°ë¡ ** : ìœ ë‹ˆì½˜ ê¸°ì—… ì„ ì •

## âš¡ ëª©ì°¨

>### 1. í”„ë¡œì íŠ¸ ê°œìš”
>### 2. ìœ ë‹ˆì½˜ ê¸°ì—… ì •ì˜
>### 3. ë°ì´í„° í™•ì¸ê³¼ EDA
>### 4. ë¶„ì„ ë°©ë²•
>### 5. ìµœì¢… ìœ ë‹ˆì½˜ ê¸°ì—… ì„ ì •

## âš¡ 1. í”„ë¡œì íŠ¸ ê°œìš”

## âš¡ 2. ìœ ë‹ˆì½˜ ê¸°ì—… ì •ì˜ 


### 1) ìœ ë‹ˆì½˜ ê¸°ì—…ì˜ ì‚¬ì „ì  ì •ì˜ 
1) ê¸°ì—… ê°€ì¹˜ê°€ 10ì–µ ë‹¬ëŸ¬(=1ì¡° ì›) ì´ìƒì´ê³    
2) ì°½ì—…í•œ ì§€ 10ë…„ ì´í•˜ì¸ ë¹„ìƒì¥ ìŠ¤íƒ€íŠ¸ì—…  
ì¶œì €: ìœ„í‚¤ë°±ê³¼ https://ko.wikipedia.org/wiki/%EC%9C%A0%EB%8B%88%EC%BD%98_%EA%B8%B0%EC%97%85


* ê¸°ì—…ê°€ì¹˜ë€? ìì‚°ê°€ì¹˜ + ìˆ˜ìµê°€ì¹˜  
ìŠ¤íƒ€íŠ¸ì—…ì€ ëŒ€ë¶€ë¶„ ìì‚°ê°€ì¹˜ë¥¼ ë³´ìœ í•˜ê³  ìˆì§€ ì•Šê¸°ì— ìˆ˜ìµê°€ì¹˜ë¡œ ê¸°ì—…ê°€ì¹˜ë¥¼ ì¸ì •ë°›ëŠ”ë‹¤.  
ìˆ˜ìµê°€ì¹˜ë¥¼ ì¸ì •ë°›ê¸° ìœ„í•´ì„œëŠ” ë§¤ì¶œì•¡ì˜ ê°€íŒŒë¥¸ ì„±ì¥ì´ í•„ìš”í•˜ë‹¤.  



### 2) ìœ ë‹ˆì½˜ ê¸°ì—… ì‚¬ë¡€ íƒêµ¬
í¬ë˜í”„í†¤, ì˜ë¡œëª¨ë°”ì¼, í† ìŠ¤, ìœ„ë©”í”„, ë¬´ì‹ ì‚¬, ì•¼ë†€ì, ì†Œì¹´ ë“± ê¸°ì—…ì˜ ë§¤ì¶œì•¡, ì§ì›ìˆ˜  ë¶„ì„  
ì´ ê¸°ì—…ë“¤ì€ ëª‡í¼ì„¼íŠ¸ê°€ ì¦ê°€í–ˆì—ˆëŠ”ì§€ 

### 3) í”„ë¡œì íŠ¸ì—ì„œ í™œìš©í•  ìœ ë‹ˆì½˜ ê¸°ì—…ì˜ ì¡°ê±´

1) ë§¤ì¶œì•¡ì˜ ê¸‰ê²©í•œ ì¦ê°€  
2) ì§ì› ìˆ˜ì˜ ì¦ê°€

## âš¡ 3. ë°ì´í„° í™•ì¸ê³¼ EDA

In [21]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [22]:
train = pd.read_csv('./data/company_nps_data.csv')

* íšŒì‚¬ì˜ ì´ ê°œìˆ˜:  
    - íšŒì‚¬IDë³„ ì¤‘ë³µì„ ì œê±°í•˜ë‹ˆ ë°ì´í„° ë‚´ íšŒì‚¬ëŠ” 5000ê°œì´ë‹¤.    
    - 5000ê°œ íšŒì‚¬ ì¤‘ ìœ ë‹ˆì½˜ íšŒì‚¬ ì°¾ê¸°!

In [23]:
train.shape

(99801, 6)

In [24]:
train.íšŒì‚¬ID.value_counts()

250472     50
404192     50
128174     50
395238     50
135668     50
           ..
246979      1
105360      1
287627      1
573329      1
1983879     1
Name: íšŒì‚¬ID, Length: 5000, dtype: int64

* ì´ìƒê°’ í™•ì¸:  
    ì—°ê¸ˆë³´í—˜ë£Œ ë˜ëŠ” ì§ì›ìˆ˜ê°€ 0ì¸ íšŒì‚¬ê°€ ìˆìŒ  
    ê´€ë ¨ ë°ì´í„° ì‚­ì œí•˜ê³  ì‹œì‘

In [26]:
train.describe()

,íšŒì‚¬ID,ì—°ë§¤ì¶œì•¡,ë…„ë„,ì›”,ì›”ë³„_ì—°ê¸ˆë³´í—˜ë£Œ,ì›”ë³„_ì§ì›ìˆ˜
count,9.980100e+04,9.980100e+04,99801.000000,99801.000000,9.980100e+04,99801.000000
mean,2.762982e+05,3.053589e+07,2016.967125,6.714352,9.734079e+06,37.623431
std,1.339032e+05,3.016647e+08,0.976688,3.512966,4.347256e+07,146.947194
min,6.300000e+01,-7.882176e+06,2015.000000,1.000000,0.000000e+00,0.000000
25%,1.655300e+05,1.409760e+06,2016.000000,4.000000,1.181160e+06,6.000000
50%,2.591490e+05,3.573585e+06,2017.000000,7.000000,2.332760e+06,11.000000
75%,3.826560e+05,9.582321e+06,2018.000000,10.000000,5.591860e+06,24.000000
max,5.159723e+06,1.132878e+10,2019.000000,12.000000,9.780673e+08,3133.000000

In [28]:
# 157237 íšŒì‚¬ì˜ ê²½ìš° ë§ˆì§€ë§‰ ë§¤ì¶œì•¡ì´ 0ì´ë¯€ë¡œ íšŒì‚¬ê°€ ì—†ì–´ì¡Œë‹¤ê³  ìƒê°í•  ìˆ˜ ìˆëŠ”ë° ë‹¤ë¥¸ íšŒì‚¬ì˜ ê²½ìš° 0ì•„ ì²˜ìŒ, ì¤‘ê°„, ë ìœ„ì¹˜ê°€ ë‹¤ì–‘í•˜ê²Œ ë“¤ì–´ìˆë‹¤. 
# train.loc[train.íšŒì‚¬ID==157237].sort_values(by=['ë…„ë„', 'ì›”'])

* ì¶”ê°€ ë³€ìˆ˜ ìƒì„±: 

1) 1ì¸ë‹¹ ì—°ê¸ˆë³´í—˜ë£Œ = ì›”ë³„_ì—°ê¸ˆë³´í—˜ë£Œ / ì›”ë³„_ì§ì›ìˆ˜  

2) 1ì¸ë‹¹ ì˜ì—…ì´ìµ = ì—°ë§¤ì¶œì•¡ / ì—°í‰ê·  ì§ì›ìˆ˜

In [14]:
train['ì›”ë³„_1ì¸ë‹¹ë³´í—˜ë£Œ'] = round(train.ì›”ë³„_ì—°ê¸ˆë³´í—˜ë£Œ / train.ì›”ë³„_ì§ì›ìˆ˜)

### ğŸ“ˆ ìœ ë‹ˆì½˜ íšŒì‚¬ê°€ ë˜ê¸° ìœ„í•œ ì¡°ê±´ 0

* ì„¤ë¦½ì—°ë„ê°€ 10ë…„ ì´ë‚´ì—¬ì•¼ í•  ê²ƒ  
    ë°ì´í„°ê°€ 15ë…„ë„ë¶€í„°ë§Œ ìˆìœ¼ë¯€ë¡œ êµ¬ì²´ì  ì„¤ë¦½ì—°ë„ëŠ” ì•Œ ìˆ˜ ì—†ìŒ. ëª¨ë“  íšŒì‚¬ê°€ 10ë…„ ì´í•˜ë¡œ ë³´ê³  ì´ ì¡°ê±´ì€ ìƒëµ  
+ ê°€ì¥ ìµœê·¼ ë°ì´í„°ì¸ 2019ë…„ 12ì›”ì— íšŒì‚¬ê°€ ì¡´ì¬í•  ê²ƒ(ë…¼ì˜ í•„ìš”)

In [5]:
# ë…„ë„ë³„ ì›”ë³„ value_countsëŠ” ì–´ë–»ê²Œ êµ¬í•˜ì§€? ã… ã… 
train['ë…„ë„'].value_counts()

2018    39872
2016    37685
2017    17806
2015     3586
2019      852
Name: ë…„ë„, dtype: int64

### ğŸ“ˆ ìœ ë‹ˆì½˜ íšŒì‚¬ê°€ ë˜ê¸° ìœ„í•œ ì¡°ê±´ 1
* ë§¤ì¶œì•¡ì˜ ê¸‰ê²©í•œ ì¦ê°€

1) í˜„ì¬ ìˆ˜ìµê°€ì¹˜ê°€ 1ì¡°ì›ì´ ë„˜ëŠ” íšŒì‚¬(419945ëŠ” ëŒ€ê¸°ì—…ì¸ì§€ í™•ì¸ í•„ìš”)

In [17]:
some_value = 1000000000
train.loc[(train['ì—°ë§¤ì¶œì•¡'] > some_value) & (train['ë…„ë„']==2019) & (train['ì›”']==12)]
# train.loc[(train['ì—°ë§¤ì¶œì•¡'] > some_value) & (train['ë…„ë„']==2019)]

        íšŒì‚¬ID         ì—°ë§¤ì¶œì•¡    ë…„ë„   ì›”   ì›”ë³„_ì—°ê¸ˆë³´í—˜ë£Œ  ì›”ë³„_ì§ì›ìˆ˜
6086  419945  10058868796  2019  12  952530380    2872

In [ ]:
# a = train.loc[(train['ì—°ë§¤ì¶œì•¡'] > some_value)]

In [18]:
# seaborn ì„í¬íŠ¸,  í•œê¸€ ê¸€ê¼´ ì§€ì •
import seaborn as sns
sns.set()
plt.rc('font', family='Malgun Gothic')

419945 íšŒì‚¬ ë³€í™” ì‹œê°„ë³„ ë§¤ì¶œì•¡ ê·¸ë˜í”„

In [ ]:
# sns.plot(x, y, color = 'blue')
# sns.title("Inlineplot seaborn")
# sns.xlabel("X")
# sns.ylabel("Y")

2) ê¸‰ê²©íˆ ì—°ë§¤ì¶œì•¡ì´ ì¦ê°€í•˜ëŠ” íšŒì‚¬

ìƒˆë¡œìš´ ë³€ìˆ˜ë¥¼ í•˜ë‚˜ ë§Œë“¤ì–´ì„œ (ì˜¬í•´ - ì‘ë…„ ë§¤ì¶œì•¡/ì‘ë…„ë§¤ì¶œì•¡) ë³€ìˆ˜ í•˜ë‚˜ ë§Œë“¤ê¸°

In [20]:
train.loc[(train['ë…„ë„']==2019) & (train['ì›”']==12)].value_counts('íšŒì‚¬ID')

íšŒì‚¬ID
2037       1
440559     1
428380     1
420165     1
419945     1
          ..
237625     1
212335     1
205415     1
193239     1
5159723    1
Length: 74, dtype: int64

### ğŸ“ˆ ìœ ë‹ˆì½˜ íšŒì‚¬ê°€ ë˜ê¸° ìœ„í•œ ì¡°ê±´ 2  
* ì§ì› ìˆ˜ì˜ ì¦ê°€

ìƒˆë¡œìš´ ë³€ìˆ˜ë¥¼ í•˜ë‚˜ ë§Œë“¤ì–´ì„œ (ì˜¬í•´ - ì‘ë…„ ì¸ì›/ì‘ë…„ì¸ì›) ë³€ìˆ˜ í•˜ë‚˜ ë§Œë“¤ê¸°

4) 2ë²ˆê³¼ 3ë²ˆ ê°„ì˜ ìƒê´€ê´€ê³„ ë¶„ì„

In [7]:
some_value = 1000000000
train.loc[train['ì—°ë§¤ì¶œì•¡'] > some_value].value_counts('íšŒì‚¬ID')

íšŒì‚¬ID
419945    48
126831    38
227414    38
227415    38
294649    38
381180    38
419977    36
419998    36
420008    36
297874    26
126606    24
63        12
126516     2
dtype: int64

In [13]:
train_unique = train.drop_duplicates(subset=['íšŒì‚¬ID','ë…„ë„'])

In [16]:
train_unique.loc[train_unique.íšŒì‚¬ID==63].sort_values(by=['ë…„ë„'])

      íšŒì‚¬ID         ì—°ë§¤ì¶œì•¡    ë…„ë„  ì›”   ì›”ë³„_ì—°ê¸ˆë³´í—˜ë£Œ  ì›”ë³„_ì§ì›ìˆ˜
6449    63  11328779396  2018  6  401083100    1011

In [101]:
some_value = 1000000000
train_unique.loc[train_unique['ì—°ë§¤ì¶œì•¡'] > some_value].sort_values(by=['íšŒì‚¬ID','ë…„ë„','ì—°ë§¤ì¶œì•¡'])

,íšŒì‚¬ID,ì—°ë§¤ì¶œì•¡,ë…„ë„,ì›”,ì›”ë³„_ì—°ê¸ˆë³´í—˜ë£Œ,ì›”ë³„_ì§ì›ìˆ˜,date_ym,now,test
6449,63,11328779396,2018,6,401083100,1011,2018-06-01,2021-08-02,2021-08-02
37589,126516,1061715908,2015,11,589400960,1674,2015-11-01,2021-08-02,2021-08-02
16163,126606,1031422825,2017,3,330795840,966,2017-03-01,2021-08-02,2021-08-02
387,126606,1035707054,2018,4,342894700,937,2018-04-01,2021-08-02,2021-08-02
18003,126831,2000958572,2015,11,214419260,588,2015-11-01,2021-08-02,2021-08-02
456,126831,1753200162,2016,4,213087620,584,2016-04-01,2021-08-02,2021-08-02
3043,126831,2102007007,2017,11,234978500,588,2017-11-01,2021-08-02,2021-08-02
5121,126831,2206140616,2018,4,234574400,587,2018-04-01,2021-08-02,2021-08-02
17818,227414,4047655229,2015,12,767780100,2181,2015-12-01,2021-08-02,2021-08-02
8697,227414,4210897523,2016,4,771792520,2204,2016-04-01,2021-08-02,2021-08-02
597,227414,4644329868,2017,9,906576960,2360,2017-09-01,2021-08-02,2021-08-02
28638,227414,4933525226,2018,11,963694640,2432,2018-11-01,2021-08-02,2021-08-02
4737,227415,4961710828,2015,12,761979660,2183,2015-12-01,2021-08-02,2021-08-02
8971,227415,5093598465,2016,11,829185460,2255,2016-11-01,2021-08-02,2021-08-02
5791,227415,5387846478,2017,1,825973120,2243,2017-01-01,2021-08-02,2021-08-02
10469,227415,5521038494,2018,2,901083660,2391,2018-02-01,2021-08-02,2021-08-02
5556,294649,3822716363,2015,12,97876080,272,2015-12-01,2021-08-02,2021-08-02
8550,294649,3447722831,2016,3,99049380,274,2016-03-01,2021-08-02,2021-08-02
1376,294649,3912359398,2017,8,103556900,278,2017-08-01,2021-08-02,2021-08-02
4909,294649,4152465961,2018,5,104722080,273,2018-05-01,2021-08-02,2021-08-02
13662,297874,1013847581,2015,11,6504140,31,2015-11-01,2021-08-02,2021-08-02
5779,297874,1501348760,2017,8,9622920,43,2017-08-01,2021-08-02,2021-08-02
1857,297874,1115591447,2018,6,8782940,40,2018-06-01,2021-08-02,2021-08-02
25208,381180,1336936032,2015,12,64309980,179,2015-12-01,2021-08-02,2021-08-02
370,381180,1323090131,2016,10,65115840,173,2016-10-01,2021-08-02,2021-08-02
15246,381180,1457438535,2017,12,62448260,169,2017-12-01,2021-08-02,2021-08-02
6970,381180,1618894425,2018,8,66372480,166,2018-08-01,2021-08-02,2021-08-02
15060,419945,7108279325,2016,12,798872080,2751,2016-12-01,2021-08-02,2021-08-02
11683,419945,7853891952,2017,9,795957580,2601,2017-09-01,2021-08-02,2021-08-02
6831,419945,8391469199,2018,9,841059200,2599,2018-09-01,2021-08-02,2021-08-02
6086,419945,10058868796,2019,12,952530380,2872,2019-12-01,2021-08-02,2021-08-02
308,419977,4334414000,2016,5,370003820,1313,2016-05-01,2021-08-02,2021-08-02
8150,419977,4264774000,2017,3,387795140,1308,2017-03-01,2021-08-02,2021-08-02
20499,419977,4157069000,2018,8,413259040,1232,2018-08-01,2021-08-02,2021-08-02
11781,419998,3517513816,2016,4,284724900,808,2016-04-01,2021-08-02,2021-08-02
2708,419998,3585066006,2017,8,308478580,812,2017-08-01,2021-08-02,2021-08-02
7106,419998,3512597764,2018,6,307877320,811,2018-06-01,2021-08-02,2021-08-02
3381,420008,1489566686,2016,11,119999920,338,2016-11-01,2021-08-02,2021-08-02
19944,420008,1608699648,2017,3,118028860,331,2017-03-01,2021-08-02,2021-08-02
12354,420008,1301747031,2018,8,294777620,730,2018-08-01,2021-08-02,2021-08-02

## âš¡ 4. ë¶„ì„ ë°©ë²•

## âš¡ 5. ìµœì¢… ìœ ë‹ˆì½˜ ê¸°ì—… ì„ ì •